:root {
  --size: 60px;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #fdfdfd;
  transition: background 0.3s ease;
}

body.dark-mode {
  background: #1e1e1e;
}

.toggle-container {
  position: relative;
}

.toggle {
  cursor: pointer;
  display: block;
  width: calc(var(--size) * 2);
  height: var(--size);
  background: #eee;
  border-radius: var(--size);
  position: relative;
  transition: background 0.3s ease;
}

.toggle__track {
  width: 100%;
  height: 100%;
  position: relative;
}

.toggle__bear {
  height: var(--size);
  width: var(--size);
  background: orange; /* TEMPORAIRE : un rond orange au lieu d’une image */
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translate(0%, -50%);
  transition: left 0.3s ease;
}

#bear-toggle:checked + .toggle .toggle__bear {
  left: 100%;
  transform: translate(-100%, -50%);
}

body.dark-mode .toggle {
  background: #444;
}
